---
import Layout from '../layouts/Layout.astro';
import SocialNetworks from '../components/SocialNetworks.astro';
import Contents from '../components/Contents.astro';
---

<Layout title="Omar Cruz - Full stack developer in Guadalajara, Mexico">
	<main>
		<div>
			<h1>Hello! I'm <strong>Omar Cruz</strong></h1>
			<p>Full Stack developer | Guadalajara, Mexico</p>
			<p>I really love to write code, specially JavaScript.</p>
			<SocialNetworks />
		</div>
    <Contents />
	</main>
</Layout>

<style>
h1 {
	margin: 0;
}

main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
}
</style>
