<div id="contents">
  <div>
    <h3>Recent Projects</h3>
    <ul>
      <li>
        <h4><a href="https://lesi.app" target="_blank" rel="noopener noreferrer">Lesi</a></h4>
        <p class="description">Real Estate with small touches of AI.</p>
      </li>
      <li>
        <h4><a href="https://motionproject.org" target="_blank" rel="noopener noreferrer">Motion</a></h4>
        <p class="description">MasterNodes Cryptocurrency, the Kickstarter of Crypto.</p>
      </li>
    </ul>
  </div>
  <div>
    <h3>Talks</h3>
    <ul>
      <li>
        <h4><a href="https://www.youtube.com/watch?v=_doEcpTV-0o" target="_blank" rel="noopener noreferrer">Crompay - Campus Nights (Spanish)</a></h4>
        <p class="description">Teatro Diana, Guadalajara, Mexico.</p>
      </li>
      <li>
        <h4><a href="https://docs.google.com/presentation/d/18nxLk-LbpZe0kIiUEyjcSKtrDD-nw-ZwkKEaQH_csR0/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Startupeando en México (Spanish)</a></h4>
        <p class="description">COPSIJAL, Guadalajara, Mexico.</p>
      </li>
    </ul>
  </div>
  <div>
    <h3>Publications</h3>
    <ul>
      <li>
        <h4><a href="https://www.penflip.com/ocruz/introduccion-a-mean" target="_blank" rel="noopener noreferrer">Introducción a MEAN(2014) (Spanish)</a></h4>
        <p class="description">Introduction to MongoDB, ExpressJS, AngularJS and NodeJS stack.</p>
      </li>
    </ul>
  </div>
</div>

<style>
#contents {
  display: flex;
  flex-direction: row;
}

#contents > div {
  margin: 30px;
}

#contents ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contents ul li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}

#contents h4 {
  margin: 0;
}
</style>